<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.revopeny.maze" version="1.0.0.0">

	<name>Surabaya Heritage</name>
	<description>Game maze perjuangan pahlawan indonesia</description>
	<author href="http://revoreva.tumblr.com" email="ryp_reaper@yahoo.com">revoreva &amp; natasari</author>

	<icon src="icon-128.png" width="128" height="128" gap:role="default" />

	<preference name="permissions" value="none"/>

	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<preference name="orientation" value="landscape" />
	<preference name="fullscreen" value="true" />
	<preference name="target-device" value="universal" />

	<!-- Optional splash screen image, e.g.: -->
	<!-- <gap:splash src="splash.png" width="1024" height="768" /> -->

</widget>